Repository Tsoympet/PantheonChain: changes, and which Codecov flags are due for each by the changed paths.
All: layer1_core, layer1_evm, layer1_settlement, layer2, clients

codecov.yml:

# Codecov Configuration for ParthenonChain
# Code coverage tracking for C/C++ codebase

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    # Overall project coverage
    project:
      default:
        target: 80%
        threshold: 1%
        base: auto
        if_ci_failed: error

    # Coverage for changes in PR
    patch:
      default:
        target: 80%
        threshold: 5%
        base: auto
        if_ci_failed: error

# Comment on PRs with coverage information
comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore paths that should not be tracked for coverage
ignore:
  - "third_party/**/*"
  - "build/**/*"
  - "cmake-build-*/**/*"
  - "_codeql_build_dir/**/*"
  - "installers/**/*"
  - "clients/mobile/node_modules/**/*"
  - "clients/desktop/node_modules/**/*"
  - "**/*.md"
  - "**/*.txt"
  - "**/CMakeLists.txt"
  - "tests/**/*"  # Test code itself doesn't need coverage
  - "docs/**/*"

# Define flags for different parts of the codebase
flags:
  layer1_core:
    paths:
      - layer1/core/
    carryforward: true

  layer1_evm:
    paths:
      - layer1/evm/
    carryforward: true

  layer1_settlement:
    paths:
      - layer1/settlement/
    carryforward: true

  layer2:
    paths:
      - layer2/
    carryforward: true

  clients:
    paths:
      - clients/
    carryforward: true

Handle dubious ownership in RPM build script
  installers/linux/build-rpm.sh
Due: none

Fix NSIS artifact path resolution for Windows installer
  installers/windows/parthenon-installer.nsi
Due: none

Harden RPM git safe.directory setup for parent repos
  installers/linux/build-rpm.sh
Due: none

Pass resolved artifact paths into NSIS build
  installers/windows/build.ps1
  installers/windows/parthenon-installer.nsi
Due: none

Harden RPM build script against git 'dubious ownership' failures
  installers/linux/build-rpm.sh
Due: none

Harden Windows NSIS artifact discovery and staging
  .github/workflows/release.yml
  installers/windows/build.ps1
  installers/windows/parthenon-installer.nsi
Due: none

Codex-generated pull request
  installers/linux/build-rpm.sh
Due: none

Add CI diagnostics for Windows NSIS artifact discovery
  .github/workflows/release.yml
  installers/windows/build.ps1
  installers/windows/parthenon-installer.nsi
Due: none

fix(windows-installer): avoid invalid powershell variable interpolation
  installers/windows/build.ps1
Due: none

fix(rpm): support rpm build on ubuntu hosts
  installers/linux/build-rpm.sh
Due: none

Use braced variable interpolation in fallback warning
  installers/windows/build.ps1
Due: none

Document PowerShell-safe formatting for fallback warning
  installers/windows/build.ps1
Due: none

Fix RPM build script when invoked with sh
  installers/linux/build-rpm.sh
Due: none

Fix workflow YAML self-parse check implementation
  .github/workflows/installers.yml
  installers/linux/build-rpm.sh
  installers/windows/build.ps1
Due: none

Fix Windows and Linux RPM release workflow failures
  .github/workflows/release.yml
Due: none

Add cstdint includes for API fixed-width types
  layer2/apis/graphql/graphql_api.h
  layer2/apis/websocket/websocket_api.h
Due: layer2

Fix homomorphic build warnings and missing cstddef include
  layer1/core/crypto/homomorphic/homomorphic.cpp
  layer1/core/crypto/homomorphic/homomorphic.h
Due: layer1_core

Fix GCC11 CI breakages in headers and rollup/api stubs
  layer1/core/crypto/schnorr.h
  layer1/core/mempool/mempool.h
  layer1/core/mining/miner.h
  layer1/core/node/node.h
  layer1/core/p2p/network_manager.h
  layer1/core/primitives/block.h
  layer1/core/primitives/transaction.h
  layer1/core/privacy/ring_signature.h
  layer1/core/privacy/zk_snark.h
  layer1/evm/mpt.h
  layer1/evm/vm.h
  layer1/settlement/escrow.h
  layer1/settlement/multisig.h
  layer2/apis/graphql/graphql_api.cpp
  layer2/apis/websocket/websocket_api.cpp
  layer2/dex/dex.h
  layer2/rollups/optimistic_rollup.h
  layer2/rollups/zk_rollup.h
Due: layer1_core, layer1_evm, layer1_settlement, layer2

ci: harden submodule checkout in build and test workflows
  .github/workflows/build.yml
  .github/workflows/test.yml
Due: none

build: improve Qt detection and desktop fallback behavior
  clients/desktop/CMakeLists.txt
  docs/repo-validation-report.md
Due: none

Add advanced features verification script
  docs/ADVANCED_FEATURES.md
  tools/testing/verify_advanced_features.sh
Due: none

Update icon.svg
  assets/icon.svg
Due: none

Update logo.svg
  assets/logo.svg
Due: none

Update parthenon-cli.svg
  assets/parthenon-cli.svg
Due: none

Refactor Parthenon desktop icon SVG for CLI style
  assets/parthenon-desktop.svg
Due: none

Update parthenon-installer-linux.svg
  assets/parthenon-installer-linux.svg
Due: none

Revise macOS installer icon to filled design
  assets/parthenon-installer-mac.svg
Due: none

Create parthenon-updater.svg
  assets/parthenon-updater.svg
Due: none

Enhance Parthenon Windows Installer SVG design
  assets/parthenon-installer-win.svg
Due: none

Enhance Parthenon mobile SVG with adaptive layout
  assets/parthenon-mobile.svg
Due: none

Refactor ParthenonChain SVG design and accessibility
  assets/parthenonchain.svg
Due: none

Enhance Parthenond SVG with ARIA attributes
  assets/parthenond.svg
Due: none

Update token-drachma.svg
  assets/token-drachma.svg
Due: none

Update token-obolos.svg
  assets/token-obolos.svg
Due: none

Update token-talanton.svg
  assets/token-talanton.svg
Due: none

Refactor Parthenon desktop icon SVG design
  clients/assets/icons/app/parthenon-desktop.svg
Due: clients

Revise Parthenon mobile icon SVG design
  clients/assets/icons/app/parthenon-mobile.svg
Due: clients

Update parthenonchain.svg
  clients/assets/icons/app/parthenonchain.svg
Due: clients

Remove unsupported binary screenshots and document expected files
  clients/desktop/assets/README.md
  clients/desktop/assets/home.svg
  clients/desktop/assets/menu.svg
  clients/desktop/assets/mining.svg
  clients/desktop/assets/receive.svg
  clients/desktop/assets/send.svg
  clients/desktop/assets/settings.svg
  clients/desktop/assets/transactions.svg
  clients/desktop/assets/wallet.svg
  clients/desktop/screenshots/README.md
  clients/mobile/react-native/assets/README.md
  clients/mobile/react-native/assets/home.svg
  clients/mobile/react-native/assets/menu.svg
  clients/mobile/react-native/assets/mining.svg
  clients/mobile/react-native/assets/receive.svg
  clients/mobile/react-native/assets/send.svg
  clients/mobile/react-native/assets/settings.svg
  clients/mobile/react-native/assets/transactions.svg
  clients/mobile/react-native/assets/wallet.svg
  clients/mobile/react-native/screenshots/README.md
Due: clients

Implement TODO backends for crypto, mining, and networking
  layer1/core/crypto/hardware_crypto.cpp
  layer1/core/mining/cuda_verifier.cpp
  layer1/core/p2p/zero_copy_network.cpp
  layer1/core/privacy/ring_signature.cpp
  tests/integration/test_integration_automated.cpp
Due: layer1_core
