Repository Tsoympet/PantheonChain: changes, and which Codecov flags are due for each by the changed paths.
All: layer1_core, layer1_evm, layer1_settlement, layer2, clients

docs: add implementation gap audit report
  IMPLEMENTATION_GAP_AUDIT.md
Due: none

p2p: implement missing wire message serializers
  IMPLEMENTATION_GAP_AUDIT.md
  layer1/core/p2p/message.cpp
  tests/unit/p2p/test_p2p.cpp
Due: layer1_core

wallet: use real Schnorr verification for firmware signatures
  IMPLEMENTATION_GAP_AUDIT.md
  layer1/core/p2p/message.cpp
  layer1/wallet/hardware/firmware_verification.cpp
  tests/unit/p2p/test_p2p.cpp
  tests/unit/wallet/test_hardware_wallet.cpp
Due: layer1_core

wallet: implement firmware latest-version lookup from local db
  IMPLEMENTATION_GAP_AUDIT.md
  layer1/core/p2p/message.cpp
  layer1/wallet/hardware/firmware_verification.cpp
  layer1/wallet/hardware/firmware_verification.h
  tests/unit/p2p/test_p2p.cpp
  tests/unit/wallet/test_hardware_wallet.cpp
Due: layer1_core

docs: expand implementation gap audit for testnet/mainnet readiness
  IMPLEMENTATION_GAP_AUDIT.md
Due: none

p2p: repair message codec implementation and fix unit test duplication
  IMPLEMENTATION_GAP_AUDIT.md
  layer1/core/p2p/message.cpp
  tests/unit/p2p/test_p2p.cpp
Due: layer1_core

node: add runtime network mode selection for p2p startup
  IMPLEMENTATION_GAP_AUDIT.md
  clients/core-daemon/main.cpp
  layer1/core/node/node.cpp
  layer1/core/node/node.h
  layer1/core/p2p/message.cpp
  tests/unit/p2p/test_p2p.cpp
Due: layer1_core, clients

node: add chainparams parsing helpers and unit tests
  IMPLEMENTATION_GAP_AUDIT.md
  clients/core-daemon/main.cpp
  layer1/core/node/CMakeLists.txt
  layer1/core/node/chainparams.cpp
  layer1/core/node/chainparams.h
  layer1/core/node/node.cpp
  layer1/core/node/node.h
  layer1/core/p2p/message.cpp
  tests/unit/CMakeLists.txt
  tests/unit/node/CMakeLists.txt
  tests/unit/node/test_chainparams.cpp
  tests/unit/p2p/test_p2p.cpp
Due: layer1_core, clients

layer2: build optimistic/plasma modules and add smoke coverage
  layer2/CMakeLists.txt
  layer2/plasma/plasma_chain.cpp
  layer2/rollups/optimistic_rollup.cpp
  tests/unit/layer2/test_layer2.cpp
Due: layer2

node: enforce genesis/network consistency on startup
  IMPLEMENTATION_GAP_AUDIT.md
  clients/core-daemon/main.cpp
  layer1/core/CMakeLists.txt
  layer1/core/consensus/genesis.cpp
  layer1/core/consensus/genesis.h
  layer1/core/node/CMakeLists.txt
  layer1/core/node/chainparams.cpp
  layer1/core/node/chainparams.h
  layer1/core/node/node.cpp
  layer1/core/node/node.h
  layer1/core/p2p/message.cpp
  layer2/CMakeLists.txt
  layer2/plasma/plasma_chain.cpp
  layer2/rollups/optimistic_rollup.cpp
  tests/unit/CMakeLists.txt
  tests/unit/consensus/CMakeLists.txt
  tests/unit/consensus/test_genesis.cpp
  tests/unit/layer2/test_layer2.cpp
  tests/unit/node/CMakeLists.txt
  tests/unit/node/test_chainparams.cpp
  tests/unit/p2p/test_p2p.cpp
Due: layer1_core, layer2, clients

docs: align genesis guide with implemented deterministic module
  IMPLEMENTATION_GAP_AUDIT.md
  clients/core-daemon/main.cpp
  docs/GENESIS.md
  layer1/core/CMakeLists.txt
  layer1/core/consensus/genesis.cpp
  layer1/core/consensus/genesis.h
  layer1/core/node/CMakeLists.txt
  layer1/core/node/chainparams.cpp
  layer1/core/node/chainparams.h
  layer1/core/node/node.cpp
  layer1/core/node/node.h
  layer1/core/p2p/message.cpp
  layer2/CMakeLists.txt
  layer2/plasma/plasma_chain.cpp
  layer2/rollups/optimistic_rollup.cpp
  tests/unit/CMakeLists.txt
  tests/unit/consensus/CMakeLists.txt
  tests/unit/consensus/test_genesis.cpp
  tests/unit/layer2/test_layer2.cpp
  tests/unit/node/CMakeLists.txt
  tests/unit/node/test_chainparams.cpp
  tests/unit/p2p/test_p2p.cpp
Due: layer1_core, layer2, clients

rpc: add optional basic auth enforcement
  IMPLEMENTATION_GAP_AUDIT.md
  clients/core-daemon/main.cpp
  docs/GENESIS.md
  layer1/core/CMakeLists.txt
  layer1/core/consensus/genesis.cpp
  layer1/core/consensus/genesis.h
  layer1/core/node/CMakeLists.txt
  layer1/core/node/chainparams.cpp
  layer1/core/node/chainparams.h
  layer1/core/node/node.cpp
  layer1/core/node/node.h
  layer1/core/p2p/message.cpp
  layer1/rpc/rpc_server.cpp
  layer1/rpc/rpc_server.h
  layer2/CMakeLists.txt
  layer2/plasma/plasma_chain.cpp
  layer2/rollups/optimistic_rollup.cpp
  tests/unit/CMakeLists.txt
  tests/unit/consensus/CMakeLists.txt
  tests/unit/consensus/test_genesis.cpp
  tests/unit/layer2/test_layer2.cpp
  tests/unit/node/CMakeLists.txt
  tests/unit/node/test_chainparams.cpp
  tests/unit/p2p/test_p2p.cpp
  tests/unit/rpc/test_rpc.cpp
Due: layer1_core, layer2, clients

docs: clarify rpc credential requirement and dev override
  IMPLEMENTATION_GAP_AUDIT.md
  TROUBLESHOOTING.md
  clients/core-daemon/README.md
  clients/core-daemon/main.cpp
  docs/GENESIS.md
  docs/INSTALLATION.md
  layer1/core/CMakeLists.txt
  layer1/core/consensus/genesis.cpp
  layer1/core/consensus/genesis.h
  layer1/core/node/CMakeLists.txt
  layer1/core/node/chainparams.cpp
  layer1/core/node/chainparams.h
  layer1/core/node/node.cpp
  layer1/core/node/node.h
  layer1/core/p2p/message.cpp
  layer1/rpc/rpc_server.cpp
  layer1/rpc/rpc_server.h
  layer2/CMakeLists.txt
  layer2/plasma/plasma_chain.cpp
  layer2/rollups/optimistic_rollup.cpp
  tests/unit/CMakeLists.txt
  tests/unit/consensus/CMakeLists.txt
  tests/unit/consensus/test_genesis.cpp
  tests/unit/layer2/test_layer2.cpp
  tests/unit/node/CMakeLists.txt
  tests/unit/node/test_chainparams.cpp
  tests/unit/p2p/test_p2p.cpp
  tests/unit/rpc/test_rpc.cpp
Due: layer1_core, layer2, clients

rpc: implement managed server lifecycle and stop
  IMPLEMENTATION_GAP_AUDIT.md
  TROUBLESHOOTING.md
  clients/core-daemon/README.md
  clients/core-daemon/main.cpp
  docs/GENESIS.md
  docs/INSTALLATION.md
  layer1/core/CMakeLists.txt
  layer1/core/consensus/genesis.cpp
  layer1/core/consensus/genesis.h
  layer1/core/node/CMakeLists.txt
  layer1/core/node/chainparams.cpp
  layer1/core/node/chainparams.h
  layer1/core/node/node.cpp
  layer1/core/node/node.h
  layer1/core/p2p/message.cpp
  layer1/rpc/rpc_server.cpp
  layer1/rpc/rpc_server.h
  layer2/CMakeLists.txt
  layer2/plasma/plasma_chain.cpp
  layer2/rollups/optimistic_rollup.cpp
  tests/unit/CMakeLists.txt
  tests/unit/consensus/CMakeLists.txt
  tests/unit/consensus/test_genesis.cpp
  tests/unit/layer2/test_layer2.cpp
  tests/unit/node/CMakeLists.txt
  tests/unit/node/test_chainparams.cpp
  tests/unit/p2p/test_p2p.cpp
  tests/unit/rpc/test_rpc.cpp
  third_party/stubs/cpp-httplib/httplib.h
Due: layer1_core, layer2, clients

rpc: harden basic auth token verification
  IMPLEMENTATION_GAP_AUDIT.md
  TROUBLESHOOTING.md
  clients/core-daemon/README.md
  clients/core-daemon/main.cpp
  docs/GENESIS.md
  docs/INSTALLATION.md
  layer1/core/CMakeLists.txt
  layer1/core/consensus/genesis.cpp
  layer1/core/consensus/genesis.h
  layer1/core/node/CMakeLists.txt
  layer1/core/node/chainparams.cpp
  layer1/core/node/chainparams.h
  layer1/core/node/node.cpp
  layer1/core/node/node.h
  layer1/core/p2p/message.cpp
  layer1/rpc/rpc_server.cpp
  layer1/rpc/rpc_server.h
  layer2/CMakeLists.txt
  layer2/plasma/plasma_chain.cpp
  layer2/rollups/optimistic_rollup.cpp
  tests/unit/CMakeLists.txt
  tests/unit/consensus/CMakeLists.txt
  tests/unit/consensus/test_genesis.cpp
  tests/unit/layer2/test_layer2.cpp
  tests/unit/node/CMakeLists.txt
  tests/unit/node/test_chainparams.cpp
  tests/unit/p2p/test_p2p.cpp
  tests/unit/rpc/test_rpc.cpp
  third_party/stubs/cpp-httplib/httplib.h
Due: layer1_core, layer2, clients

Restore explicit network choice handling in daemon startup
  clients/core-daemon/main.cpp
  layer1/core/node/chainparams.cpp
  layer1/core/node/node.cpp
  layer1/rpc/rpc_server.cpp
  tests/unit/node/test_chainparams.cpp
Due: layer1_core, clients

Canonicalize daemon network mode after config parsing
  clients/core-daemon/main.cpp
  layer1/core/node/chainparams.cpp
  layer1/core/node/node.cpp
  layer1/rpc/rpc_server.cpp
  tests/unit/node/test_chainparams.cpp
Due: layer1_core, clients

Harden daemon config parsing for numeric network and RPC settings
  clients/core-daemon/main.cpp
  layer1/core/node/chainparams.cpp
  layer1/core/node/node.cpp
  layer1/rpc/rpc_server.cpp
  tests/unit/node/test_chainparams.cpp
Due: layer1_core, clients

Harden boolean config parsing in core daemon
  clients/core-daemon/main.cpp
  layer1/core/node/chainparams.cpp
  layer1/core/node/node.cpp
  layer1/rpc/rpc_server.cpp
  tests/unit/node/test_chainparams.cpp
Due: layer1_core, clients

Trim whitespace in network mode parsing and add coverage
  clients/core-daemon/main.cpp
  layer1/core/node/chainparams.cpp
  layer1/core/node/node.cpp
  layer1/rpc/rpc_server.cpp
  tests/unit/node/test_chainparams.cpp
Due: layer1_core, clients

Support inline comments in scalar daemon config values
  clients/core-daemon/main.cpp
  layer1/core/node/chainparams.cpp
  layer1/core/node/node.cpp
  layer1/rpc/rpc_server.cpp
  tests/unit/node/test_chainparams.cpp
Due: layer1_core, clients

consensus: hardcode and enforce per-network genesis hashes
  clients/core-daemon/main.cpp
  layer1/core/consensus/genesis.cpp
  layer1/core/consensus/genesis.h
  layer1/core/node/chainparams.cpp
  layer1/core/node/node.cpp
  layer1/rpc/rpc_server.cpp
  tests/unit/consensus/test_genesis.cpp
  tests/unit/node/test_chainparams.cpp
Due: layer1_core, clients

p2p: reject non-canonical CompactSize encodings
  clients/core-daemon/main.cpp
  layer1/core/consensus/genesis.cpp
  layer1/core/consensus/genesis.h
  layer1/core/node/chainparams.cpp
  layer1/core/node/node.cpp
  layer1/core/p2p/message.cpp
  layer1/rpc/rpc_server.cpp
  tests/unit/consensus/test_genesis.cpp
  tests/unit/node/test_chainparams.cpp
  tests/unit/p2p/test_p2p.cpp
Due: layer1_core, clients

storage: persist full block serialization and add coverage
  clients/core-daemon/main.cpp
  layer1/core/consensus/genesis.cpp
  layer1/core/consensus/genesis.h
  layer1/core/node/chainparams.cpp
  layer1/core/node/node.cpp
  layer1/core/p2p/message.cpp
  layer1/core/storage/block_storage.cpp
  layer1/rpc/rpc_server.cpp
  tests/unit/CMakeLists.txt
  tests/unit/consensus/test_genesis.cpp
  tests/unit/node/test_chainparams.cpp
  tests/unit/p2p/test_p2p.cpp
  tests/unit/storage/CMakeLists.txt
  tests/unit/storage/test_block_storage.cpp
Due: layer1_core, clients

storage: avoid exceptions on invalid persisted height values
  clients/core-daemon/main.cpp
  layer1/core/consensus/genesis.cpp
  layer1/core/consensus/genesis.h
  layer1/core/node/chainparams.cpp
  layer1/core/node/node.cpp
  layer1/core/p2p/message.cpp
  layer1/core/storage/block_storage.cpp
  layer1/rpc/rpc_server.cpp
  tests/unit/CMakeLists.txt
  tests/unit/consensus/test_genesis.cpp
  tests/unit/node/test_chainparams.cpp
  tests/unit/p2p/test_p2p.cpp
  tests/unit/storage/CMakeLists.txt
  tests/unit/storage/test_block_storage.cpp
Due: layer1_core, clients

primitives: enforce canonical block varints and exact parse length
  clients/core-daemon/main.cpp
  layer1/core/consensus/genesis.cpp
  layer1/core/consensus/genesis.h
  layer1/core/node/chainparams.cpp
  layer1/core/node/node.cpp
  layer1/core/p2p/message.cpp
  layer1/core/primitives/block.cpp
  layer1/core/storage/block_storage.cpp
  layer1/rpc/rpc_server.cpp
  tests/unit/CMakeLists.txt
  tests/unit/consensus/test_genesis.cpp
  tests/unit/node/test_chainparams.cpp
  tests/unit/p2p/test_p2p.cpp
  tests/unit/primitives/test_block.cpp
  tests/unit/storage/CMakeLists.txt
  tests/unit/storage/test_block_storage.cpp
Due: layer1_core, clients

chainstate: enforce prev-hash linkage and track tip hash
  clients/core-daemon/main.cpp
  layer1/core/chainstate/chainstate.cpp
  layer1/core/chainstate/chainstate.h
  layer1/core/consensus/genesis.cpp
  layer1/core/consensus/genesis.h
  layer1/core/node/chainparams.cpp
  layer1/core/node/node.cpp
  layer1/core/p2p/message.cpp
  layer1/core/primitives/block.cpp
  layer1/core/storage/block_storage.cpp
  layer1/rpc/rpc_server.cpp
  tests/unit/CMakeLists.txt
  tests/unit/chainstate/test_chainstate.cpp
  tests/unit/consensus/test_genesis.cpp
  tests/unit/node/test_chainparams.cpp
  tests/unit/p2p/test_p2p.cpp
  tests/unit/primitives/test_block.cpp
  tests/unit/storage/CMakeLists.txt
  tests/unit/storage/test_block_storage.cpp
Due: layer1_core, clients

storage: harden UTXO metadata/key parsing
  clients/core-daemon/main.cpp
  layer1/core/chainstate/chainstate.cpp
  layer1/core/chainstate/chainstate.h
  layer1/core/consensus/genesis.cpp
  layer1/core/consensus/genesis.h
  layer1/core/node/chainparams.cpp
  layer1/core/node/node.cpp
  layer1/core/p2p/message.cpp
  layer1/core/primitives/block.cpp
  layer1/core/storage/block_storage.cpp
  layer1/core/storage/utxo_storage.cpp
  layer1/rpc/rpc_server.cpp
  tests/unit/CMakeLists.txt
  tests/unit/chainstate/test_chainstate.cpp
  tests/unit/consensus/test_genesis.cpp
  tests/unit/node/test_chainparams.cpp
  tests/unit/p2p/test_p2p.cpp
  tests/unit/primitives/test_block.cpp
  tests/unit/storage/CMakeLists.txt
  tests/unit/storage/test_block_storage.cpp
Due: layer1_core, clients

node: persist expected genesis block on first startup
  clients/core-daemon/main.cpp
  layer1/core/chainstate/chainstate.cpp
  layer1/core/chainstate/chainstate.h
  layer1/core/consensus/genesis.cpp
  layer1/core/consensus/genesis.h
  layer1/core/node/chainparams.cpp
  layer1/core/node/node.cpp
  layer1/core/p2p/message.cpp
  layer1/core/primitives/block.cpp
  layer1/core/storage/block_storage.cpp
  layer1/core/storage/utxo_storage.cpp
  layer1/rpc/rpc_server.cpp
  tests/unit/CMakeLists.txt
  tests/unit/chainstate/test_chainstate.cpp
  tests/unit/consensus/test_genesis.cpp
  tests/unit/node/test_chainparams.cpp
  tests/unit/p2p/test_p2p.cpp
  tests/unit/primitives/test_block.cpp
  tests/unit/storage/CMakeLists.txt
  tests/unit/storage/test_block_storage.cpp
Due: layer1_core, clients

node: derive sync target from connected peer metadata
  clients/core-daemon/main.cpp
  layer1/core/chainstate/chainstate.cpp
  layer1/core/chainstate/chainstate.h
  layer1/core/consensus/genesis.cpp
  layer1/core/consensus/genesis.h
  layer1/core/node/chainparams.cpp
  layer1/core/node/node.cpp
  layer1/core/node/node.h
  layer1/core/p2p/message.cpp
  layer1/core/primitives/block.cpp
  layer1/core/storage/block_storage.cpp
  layer1/core/storage/utxo_storage.cpp
  layer1/rpc/rpc_server.cpp
  tests/unit/CMakeLists.txt
  tests/unit/chainstate/test_chainstate.cpp
  tests/unit/consensus/test_genesis.cpp
  tests/unit/node/test_chainparams.cpp
  tests/unit/p2p/test_p2p.cpp
  tests/unit/primitives/test_block.cpp
  tests/unit/storage/CMakeLists.txt
  tests/unit/storage/test_block_storage.cpp
Due: layer1_core, clients

node: harden peer port parsing in new-peer handler
  clients/core-daemon/main.cpp
  layer1/core/chainstate/chainstate.cpp
  layer1/core/chainstate/chainstate.h
  layer1/core/consensus/genesis.cpp
  layer1/core/consensus/genesis.h
  layer1/core/node/chainparams.cpp
  layer1/core/node/node.cpp
  layer1/core/node/node.h
  layer1/core/p2p/message.cpp
  layer1/core/primitives/block.cpp
  layer1/core/storage/block_storage.cpp
  layer1/core/storage/utxo_storage.cpp
  layer1/rpc/rpc_server.cpp
  tests/unit/CMakeLists.txt
  tests/unit/chainstate/test_chainstate.cpp
  tests/unit/consensus/test_genesis.cpp
  tests/unit/node/test_chainparams.cpp
  tests/unit/p2p/test_p2p.cpp
  tests/unit/primitives/test_block.cpp
  tests/unit/storage/CMakeLists.txt
  tests/unit/storage/test_block_storage.cpp
Due: layer1_core, clients

rpc: harden hex and amount parsing in tx send handlers
  clients/core-daemon/main.cpp
  layer1/core/chainstate/chainstate.cpp
  layer1/core/chainstate/chainstate.h
  layer1/core/consensus/genesis.cpp
  layer1/core/consensus/genesis.h
  layer1/core/node/chainparams.cpp
  layer1/core/node/node.cpp
  layer1/core/node/node.h
  layer1/core/p2p/message.cpp
  layer1/core/primitives/block.cpp
  layer1/core/storage/block_storage.cpp
  layer1/core/storage/utxo_storage.cpp
  layer1/rpc/rpc_server.cpp
  tests/unit/CMakeLists.txt
  tests/unit/chainstate/test_chainstate.cpp
  tests/unit/consensus/test_genesis.cpp
  tests/unit/node/test_chainparams.cpp
  tests/unit/p2p/test_p2p.cpp
  tests/unit/primitives/test_block.cpp
  tests/unit/storage/CMakeLists.txt
  tests/unit/storage/test_block_storage.cpp
Due: layer1_core, clients

tests: cover rpc invalid send parameter paths
  clients/core-daemon/main.cpp
  layer1/core/chainstate/chainstate.cpp
  layer1/core/chainstate/chainstate.h
  layer1/core/consensus/genesis.cpp
  layer1/core/consensus/genesis.h
  layer1/core/node/chainparams.cpp
  layer1/core/node/node.cpp
  layer1/core/node/node.h
  layer1/core/p2p/message.cpp
  layer1/core/primitives/block.cpp
  layer1/core/storage/block_storage.cpp
  layer1/core/storage/utxo_storage.cpp
  layer1/rpc/rpc_server.cpp
  tests/unit/CMakeLists.txt
  tests/unit/chainstate/test_chainstate.cpp
  tests/unit/consensus/test_genesis.cpp
  tests/unit/node/test_chainparams.cpp
  tests/unit/p2p/test_p2p.cpp
  tests/unit/primitives/test_block.cpp
  tests/unit/rpc/test_rpc.cpp
  tests/unit/storage/CMakeLists.txt
  tests/unit/storage/test_block_storage.cpp
Due: layer1_core, clients

rpc: validate asset id in sendtoaddress
  clients/core-daemon/main.cpp
  layer1/core/chainstate/chainstate.cpp
  layer1/core/chainstate/chainstate.h
  layer1/core/consensus/genesis.cpp
  layer1/core/consensus/genesis.h
  layer1/core/node/chainparams.cpp
  layer1/core/node/node.cpp
  layer1/core/node/node.h
  layer1/core/p2p/message.cpp
  layer1/core/primitives/block.cpp
  layer1/core/storage/block_storage.cpp
  layer1/core/storage/utxo_storage.cpp
  layer1/rpc/rpc_server.cpp
  tests/unit/CMakeLists.txt
  tests/unit/chainstate/test_chainstate.cpp
  tests/unit/consensus/test_genesis.cpp
  tests/unit/node/test_chainparams.cpp
  tests/unit/p2p/test_p2p.cpp
  tests/unit/primitives/test_block.cpp
  tests/unit/rpc/test_rpc.cpp
  tests/unit/storage/CMakeLists.txt
  tests/unit/storage/test_block_storage.cpp
Due: layer1_core, clients

node: rebuild in-memory chainstate from stored blocks on startup
  clients/core-daemon/main.cpp
  layer1/core/chainstate/chainstate.cpp
  layer1/core/chainstate/chainstate.h
  layer1/core/consensus/genesis.cpp
  layer1/core/consensus/genesis.h
  layer1/core/node/chainparams.cpp
  layer1/core/node/node.cpp
  layer1/core/node/node.h
  layer1/core/p2p/message.cpp
  layer1/core/primitives/block.cpp
  layer1/core/storage/block_storage.cpp
  layer1/core/storage/utxo_storage.cpp
  layer1/rpc/rpc_server.cpp
  tests/unit/CMakeLists.txt
  tests/unit/chainstate/test_chainstate.cpp
  tests/unit/consensus/test_genesis.cpp
  tests/unit/node/test_chainparams.cpp
  tests/unit/p2p/test_p2p.cpp
  tests/unit/primitives/test_block.cpp
  tests/unit/rpc/test_rpc.cpp
  tests/unit/storage/CMakeLists.txt
  tests/unit/storage/test_block_storage.cpp
Due: layer1_core, clients

ci/docs: add deterministic dependency gate and ops runbook
  .github/workflows/dependency-gate.yml
  IMPLEMENTATION_GAP_AUDIT.md
  README.md
  clients/core-daemon/main.cpp
  docs/OPERATIONS_RUNBOOK.md
  layer1/core/chainstate/chainstate.cpp
  layer1/core/chainstate/chainstate.h
  layer1/core/consensus/genesis.cpp
  layer1/core/consensus/genesis.h
  layer1/core/node/chainparams.cpp
  layer1/core/node/node.cpp
  layer1/core/node/node.h
  layer1/core/p2p/message.cpp
  layer1/core/primitives/block.cpp
  layer1/core/storage/block_storage.cpp
  layer1/core/storage/utxo_storage.cpp
  layer1/rpc/rpc_server.cpp
  scripts/ci/verify_real_deps.sh
  tests/unit/CMakeLists.txt
  tests/unit/chainstate/test_chainstate.cpp
  tests/unit/consensus/test_genesis.cpp
  tests/unit/node/test_chainparams.cpp
  tests/unit/p2p/test_p2p.cpp
  tests/unit/primitives/test_block.cpp
  tests/unit/rpc/test_rpc.cpp
  tests/unit/storage/CMakeLists.txt
  tests/unit/storage/test_block_storage.cpp
Due: layer1_core, clients

crypto: replace HardwareAES memcpy placeholder with AES-256-GCM
  .github/workflows/dependency-gate.yml
  IMPLEMENTATION_GAP_AUDIT.md
  README.md
  clients/core-daemon/main.cpp
  docs/OPERATIONS_RUNBOOK.md
  layer1/core/CMakeLists.txt
  layer1/core/chainstate/chainstate.cpp
  layer1/core/chainstate/chainstate.h
  layer1/core/consensus/genesis.cpp
  layer1/core/consensus/genesis.h
  layer1/core/crypto/hardware_crypto.cpp
  layer1/core/node/chainparams.cpp
  layer1/core/node/node.cpp
  layer1/core/node/node.h
  layer1/core/p2p/message.cpp
  layer1/core/primitives/block.cpp
  layer1/core/storage/block_storage.cpp
  layer1/core/storage/utxo_storage.cpp
  layer1/rpc/rpc_server.cpp
  scripts/ci/verify_real_deps.sh
  tests/unit/CMakeLists.txt
  tests/unit/chainstate/test_chainstate.cpp
  tests/unit/consensus/test_genesis.cpp
  tests/unit/crypto/CMakeLists.txt
  tests/unit/crypto/test_hardware_crypto.cpp
  tests/unit/node/test_chainparams.cpp
  tests/unit/p2p/test_p2p.cpp
  tests/unit/primitives/test_block.cpp
  tests/unit/rpc/test_rpc.cpp
  tests/unit/storage/CMakeLists.txt
  tests/unit/storage/test_block_storage.cpp
Due: layer1_core, clients

Refactor into layered TALANTON/DRACHMA/OBOLOS architecture MVP
  CMakeLists.txt
  clients/cli/main.cpp
  clients/core-daemon/main.cpp
  docs/NETWORKING_RPC.md
  docs/architecture.md
  docs/consensus.md
  docs/migration.md
  docs/plan.md
  docs/threat-model.md
  genesis_drachma.json
  genesis_obolos.json
  genesis_talanton.json
  relayers/CMakeLists.txt
  relayers/pantheon-relayer-l2.cpp
  relayers/pantheon-relayer-l3.cpp
  src/CMakeLists.txt
  src/common/commitments.cpp
  src/common/commitments.h
  src/drachma/pos_consensus.cpp
  src/drachma/pos_consensus.h
  src/obolos/execution.cpp
  src/obolos/execution.h
  src/talanton/l1_commitment_validator.cpp
  src/talanton/l1_commitment_validator.h
  tests/unit/CMakeLists.txt
  tests/unit/layers/CMakeLists.txt
  tests/unit/layers/test_layers.cpp
Due: clients

Path conditions:
  layer1_core: any of: layer1/core/, but not: third_party/**/*, build/**/*, cmake-build-*/**/*, _codeql_build_dir/**/*, installers/**/*, clients/mobile/node_modules/**/*, clients/desktop/node_modules/**/*, **/*.md, **/*.txt, **/CMakeLists.txt, tests/**/*, docs/**/*
  layer1_evm: any of: layer1/evm/, but not: third_party/**/*, build/**/*, cmake-build-*/**/*, _codeql_build_dir/**/*, installers/**/*, clients/mobile/node_modules/**/*, clients/desktop/node_modules/**/*, **/*.md, **/*.txt, **/CMakeLists.txt, tests/**/*, docs/**/*
  layer1_settlement: any of: layer1/settlement/, but not: third_party/**/*, build/**/*, cmake-build-*/**/*, _codeql_build_dir/**/*, installers/**/*, clients/mobile/node_modules/**/*, clients/desktop/node_modules/**/*, **/*.md, **/*.txt, **/CMakeLists.txt, tests/**/*, docs/**/*
  layer2: any of: layer2/, but not: third_party/**/*, build/**/*, cmake-build-*/**/*, _codeql_build_dir/**/*, installers/**/*, clients/mobile/node_modules/**/*, clients/desktop/node_modules/**/*, **/*.md, **/*.txt, **/CMakeLists.txt, tests/**/*, docs/**/*
  clients: any of: clients/, but not: third_party/**/*, build/**/*, cmake-build-*/**/*, _codeql_build_dir/**/*, installers/**/*, clients/mobile/node_modules/**/*, clients/desktop/node_modules/**/*, **/*.md, **/*.txt, **/CMakeLists.txt, tests/**/*, docs/**/*
