Repository Tsoympet/PantheonChain: changes, and which Codecov flags are due for each by the changed paths.
All: layer1_core, layer1_evm, layer1_settlement, layer2, clients

Delete ci directory
  ci/github/workflows/installers.yml
Due: none

Create dependabot.yml
  .github/dependabot.yml
Due: none

Update README.md
  README.md
Due: none

Add Dockerfile for PantheonChain
  Dockerfile
Due: none

Add .dockerignore file to optimize Docker builds
  .dockerignore
Due: none

Add docker-compose.yml for easy deployment
  docker-compose.yml
Due: none

Add Docker deployment section to README
  README.md
Due: none

Add parthenond.conf.example configuration file
  parthenond.conf.example
Due: none

Add Docker-related entries and runtime data to .gitignore
  .gitignore
Due: none

Add comprehensive GPU acceleration guide for batch signature verification
  docs/GPU_ACCELERATION.md
Due: none

Add comprehensive DPDK kernel bypass networking implementation guide
  docs/DPDK_NETWORKING.md
Due: none

Add optional performance enhancements documentation
  docs/OPTIONAL_ENHANCEMENTS.md
Due: none

Delete IMPLEMENTATION_SUMMARY.md
  IMPLEMENTATION_SUMMARY.md
Due: none

Update README with project description and image
  README.md
Due: none

docs: Add CONTRIBUTING.md with comprehensive contribution guidelines
  CONTRIBUTING.md
Due: none

Delete SECURITY_SUMMARY.md
  SECURITY_SUMMARY.md
Due: none

Delete SECURITY_FIXES.md
  SECURITY_FIXES.md
Due: none

Delete docs/OPTIONAL_ENHANCEMENTS.md
  docs/OPTIONAL_ENHANCEMENTS.md
Due: none

Delete docs/SECURITY_IMPROVEMENTS.md
  docs/SECURITY_IMPROVEMENTS.md
Due: none

Fix CI workflow action versions for installer pipelines
  .github/workflows/build.yml
  .github/workflows/installers.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/security-audit.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
Due: none

Fix lint workflow to use valid setup-python action version
  .github/workflows/build.yml
  .github/workflows/installers.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/security-audit.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
Due: none

Update VERSION to define PANTHEONCHAIN_VERSION
  VERSION
Due: none

Fix version header macro definition and include wiring
  include/pantheon_version.h
  version.h
Due: none

Fix missing sstream includes and explicit height cast
  layer1/rpc/rpc_server.cpp
  tests/unit/crypto/test_schnorr.cpp
  tests/unit/crypto/test_sha256.cpp
Due: none

Use [[maybe_unused]] for unused Layer2 stub fields
  layer2/apis/graphql/graphql_api.cpp
  layer2/apis/websocket/websocket_api.cpp
Due: layer2

Fix uint8_t narrowing warnings in block primitive tests
  tests/unit/primitives/test_block.cpp
Due: none

Fix unused zk rollup members under -Werror
  layer2/rollups/zk_rollup.h
Due: layer2

Use reserved RPC and GUI fields to avoid unused warnings
  clients/cli/main.cpp
  clients/desktop/gui/main.cpp
Due: clients

Fix MSVC narrowing warnings in chainstate tests
  tests/unit/chainstate/test_chain.cpp
  tests/unit/chainstate/test_chainstate.cpp
Due: none

Replace strncpy with memcpy in p2p header test
  tests/unit/p2p/test_p2p.cpp
Due: none

Add mobile installer workflows for Android and iOS
  .github/workflows/mobile-android-installer.yml
  .github/workflows/mobile-ios-installer.yml
  clients/mobile/react-native/eas.json
  clients/mobile/react-native/package.json
Due: clients

Scope Threads discovery to modules that link threads
  CMakeLists.txt
  clients/core-daemon/CMakeLists.txt
  layer1/core/p2p/CMakeLists.txt
  layer1/rpc/CMakeLists.txt
Due: none

Configure Expo EAS project metadata for CI builds
  clients/mobile/react-native/.easproject
  clients/mobile/react-native/app.json
Due: clients

Ensure EAS project init runs in mobile installer workflows
  .github/workflows/mobile-android-installer.yml
  .github/workflows/mobile-ios-installer.yml
Due: none

Fix Expo config root keys warning
  clients/mobile/react-native/app.json
Due: clients

Fix EAS init to avoid stale project ID
  .github/workflows/mobile-android-installer.yml
  .github/workflows/mobile-ios-installer.yml
Due: none

fix(mobile): remove stale EAS projectId from app config
  clients/mobile/react-native/app.json
Due: clients

Configure EAS for non-interactive Android credentials
  clients/mobile/react-native/eas.json
Due: clients

Path conditions:
  layer1_core: any of: layer1/core/, but not: third_party/**/*, build/**/*, cmake-build-*/**/*, _codeql_build_dir/**/*, installers/**/*, clients/mobile/node_modules/**/*, clients/desktop/node_modules/**/*, **/*.md, **/*.txt, **/CMakeLists.txt, tests/**/*, docs/**/*
  layer1_evm: any of: layer1/evm/, but not: third_party/**/*, build/**/*, cmake-build-*/**/*, _codeql_build_dir/**/*, installers/**/*, clients/mobile/node_modules/**/*, clients/desktop/node_modules/**/*, **/*.md, **/*.txt, **/CMakeLists.txt, tests/**/*, docs/**/*
  layer1_settlement: any of: layer1/settlement/, but not: third_party/**/*, build/**/*, cmake-build-*/**/*, _codeql_build_dir/**/*, installers/**/*, clients/mobile/node_modules/**/*, clients/desktop/node_modules/**/*, **/*.md, **/*.txt, **/CMakeLists.txt, tests/**/*, docs/**/*
  layer2: any of: layer2/, but not: third_party/**/*, build/**/*, cmake-build-*/**/*, _codeql_build_dir/**/*, installers/**/*, clients/mobile/node_modules/**/*, clients/desktop/node_modules/**/*, **/*.md, **/*.txt, **/CMakeLists.txt, tests/**/*, docs/**/*
  clients: any of: clients/, but not: third_party/**/*, build/**/*, cmake-build-*/**/*, _codeql_build_dir/**/*, installers/**/*, clients/mobile/node_modules/**/*, clients/desktop/node_modules/**/*, **/*.md, **/*.txt, **/CMakeLists.txt, tests/**/*, docs/**/*
